.dropdownStyle {
    // marginLeft: "1.5rem",
    // marginBottom: "0.5rem",
    // borderRadius: "10rem !important",
    // backgroundColor: "#f8f9fa !important",
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem !important;
    background-color: var(--primary-color) !important;
    border: none !important;
    --bs-dropdown-link-active-bg: var(--primary-color) !important;
}