.navbar {
	background-color: var(--primary-color);
	left: 0px;
	top: 0px;
	width: 100%;
	min-height: 100vh;
	max-width: 210px;
	position: fixed;
}

.header {
	max-width: calc(100vw - 210px);
	width: 100%;
	min-height: 120px;
	height: 100%;
	position: fixed;
	// background-color: var(--primary-color);
	left: 210px;
	top: 0px;
	right: 0px;
}

.content {
	top: 120px;
	left: 210px;
	position: fixed;
	min-height: calc(100vh - 120px);
	width: calc(100vw - 210px);
	color: var(--primary-color) !important;
	// flex-grow: 1;
}