.card {
    border-radius: 1rem !important;
    height: 25vh;
    position: relative !important;
    aspect-ratio: 4 / 3 !important;
    min-height: 10vh;
    
    .title {
        font-weight: bold;
        font-size: 1vw;
    }

    .text {
        font-size: 2.5vw;
        font-weight: bolder;
        text-align: center;
        padding: 1rem 0;
        max-width: 268.5px;
        min-height: 48px;
    }

    .flag {
        height: 2.5%;
        width: 20%;
        // background-color: red;
        color: white;
        text-align: center;
        font-size: 0.75vw;
        font-weight: bolder;
        position: relative !important;
        margin: 0 !important;

        .high {
            background-color: red;
            border-radius: 40px;
        }

        .normal {
            background-color: green;
            border-radius: 40px;
        }

        .low {
            background-color: #0090B0;
            border-radius: 40px;
        }
    }
}