@import url("@fontsource/pacifico");

.navbar {
    color: white;
    .title {
        font-family: 'Pacifico';
        margin-top: 40px;
        justify-content: center;
        text-align: center;
        font-size: 32px;
        font-weight: 160;
    }
    width: 100%;
    .list{
        width: 100%;
    }
    .list_div:hover{
        background-color: #003566;
    }
    .list_div:focus{
        background-color: #061430;
    }
}
.icon{
    color:white !important;
}
