.card-group {
    display: grid !important;
    grid-template-columns: auto auto auto;
}

.card-group > div{
    border-radius: 1rem !important;
    height: 320px !important;    
    
}

.card1 {
    grid-column: 1 / span 2;
}
.card1_inner{
    display: flex;
}
.graph{
    min-width: 60%;
    height: 100%;
}

.card2 {
    grid-column: 3 / span 1;
    min-width: 400px;
}

.card2_inner {
    display: flex;
}
.row{
    margin: 2%;
    padding: 2%;
    font-size: large;
    font-weight: bold;
}
#tree{
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.unact{
    background-color: red;
}
.act{
    color: green;
}
#row4{
    min-width: 100px;
}